<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=title %>
            
        </title>
        <link rel = "stylesheet"  href="/css/layout.css">
        <link rel = "stylesheet"  href="/css/header.css">
        <link rel = "stylesheet"  href="/css/footer.css">
    </head>
    <body>
        <%- include('partials/_header'); %>
        <%- body %>
        <%- include('partials/_footer'); %>
       
    </body>
</html>