#layout-footer{
    color: white;
    a{
        color: white;
        text-decoration: none;
    }

    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}