#sign-in-container{
    height: 60vh;
				display: grid;
				place-content: center;
				width: 530px;
				background: rgb(255, 255, 255);
				border-radius: 5px;
				box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
}