body {
  height: 100vh;
  background-image: linear-gradient(to right top, #00172d, #001d39, #002344, #002a51, #00305d, #003567, #003971, #013e7b, #004385, #00488e, #004d98, #0052a2);
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
